.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.editor {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #1e1e2c;
}

.result-panel {
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  background-color: #1e1e2c;
}

.info-box {
  padding: 10px;
  height: 50%;
}

.run-button {
  padding: 10px;
}

.result-box {
  padding: 10px;
  height: 40%;
}
